.ShoppingListComp 
{
    margin-top: 20px;
    margin-left: 200px;
}

.shoppingTable {
    width: 500px;
    height: 30px;
}

.ShoppingRow {
    text-align: left;
}

.ShoppingTitle {
    text-align: center;
    width: 500px;
}

.buttonContain {
    margin-left: 0px;
    background-color: transparent;
}

.ShoppingButn {
    margin-left: 0px;
    width: 10px;
}