.ShoppingListComp 
{
    margin-top: 20px;
    margin-left: 200px;
}

.shoppingTable {
    width: 800px;
    height: 30px;
}

.ShoppingRow {
    text-align: left;
}

.ShoppingTitle {
    text-align: center;
}

.buttonContain {
    margin-left: 0px;
    background-color: transparent;
}